body {
    background-image: url('../assets/generic-fondo.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    padding-bottom: 50px;
    min-height: 100vh;
}

h1,h3, h4 {
    color: white;
    margin-top: 5px;
}



hr{
    color: white;
}